<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<%= content_tag :div, class: 'recording-list' do %>
    <h2 class="recording-header">Recording List</h2>
    <% if @recording_data %>
        <table class='recordings-table'>
            <thead>
                <tr>
                    <th class="col-1">Recording Name</th>
                    <th class="col-2">Recording Date</th>
                    <th class="col-3">Length</th>
                    <th class="col-4">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% @recording_data.each do |rec| %>
                <tr>
                    <td>
                        <%= rec[:name] %>
                    </td>
                    <td>
                        <%= getRecDate(rec)%>
                    </td>
                    <td>
                        <%= getRecLength(rec[:playback][:format]) %>
                    </td>
                    <td>
                        <%= link_to rec[:playback][:format][:url], target: "_blank", class: "float-left grey-link" do %>
                            <i class="material-icons">open_in_new</i>
                        <% end %>
                        <%= button_to "big_blue_button/delete_recording", params: {rec_id: rec[:recordID]}, class: "float-right delete-btn" do %>
                            <i class="material-icons">delete</i>
                        <% end %>
                </tr>
                <% end %>

            </tbody>
        </table>
    <% else %>
        <div>THERE ARE NO RECORDINGS R I P</div>
    <% end %>
<% end %>